<div class="container">
  <div class="header">
    <img src="assets/header.jpg" />

    <div class="box">
      <p class="title">Handmade by Cat</p>
      <p class="subtitle">This is some text</p>
    </div>
  </div>

  <div class="info">
    <div class="intro">
      <p class="title">Hi, I'm Cat</p>
      <p class="text">
        This will be replaced with a blurb about me and my stuff. This will be
        replaced with a blurb about me and my stuff. This will be replaced with
        a blurb about me and my stuff. This will be replaced with a blurb about
        me and my stuff. This will be replaced with a blurb about me and my
        stuff. This will be replaced with a blurb about me and my stuff. This
        will be replaced with a blurb about me and my stuff. This will be
        replaced with a blurb about me and my stuff.
      </p>
    </div>

    <div class="image">
      <p class="title">Hi, I'm Cat</p>

      <img src="assets/cat.jpg" />
    </div>
  </div>

  <div class="shop">
    <div class="block">
      <div class="item" style="background: rgb(var(--purple))">
        <p class="title">Item 1</p>
        <p class="description">
          This is the description of the item. This is the description of the
          item. This is the description of the item.
        </p>
      </div>

      <div class="image">
        <img src="assets/header.jpg" />
      </div>
    </div>

    <div class="block">
      <div class="item" style="background: rgb(var(--pink))">
        <p class="title">Item 1</p>
        <p class="description">
          This is the description of the item. This is the description of the
          item. This is the description of the item.
        </p>
      </div>

      <div class="image">
        <img src="assets/header.jpg" />
      </div>
    </div>

    <div class="block" style="flex-direction: row-reverse">
      <div class="item" style="background: rgb(var(--blue))">
        <p class="title">Item 1</p>
        <p class="description">
          This is the description of the item. This is the description of the
          item. This is the description of the item.
        </p>
      </div>

      <div class="image">
        <img src="assets/header.jpg" />
      </div>
    </div>

    <div class="block" style="flex-direction: row-reverse">
      <div class="item" style="background: rgb(var(--red))">
        <p class="title">Item 1</p>
        <p class="description">
          This is the description of the item. This is the description of the
          item. This is the description of the item.
        </p>
      </div>

      <div class="image">
        <img src="assets/header.jpg" />
      </div>
    </div>
  </div>
</div>
