.container {
  display: flex;
  flex-direction: column;

  width: 100vw;

  .header {
    display: flex;
    position: relative;

    width: 100vw;
    height: 100vh;

    .box {
      position: absolute;
      top: 45%;
      left: 35%;

      transform: translate(-50%, -50%);

      width: 50vw;

      .title {
        color: white;
        font-size: 64px;
        line-height: 48px;
      }

      .subtitle {
        color: rgb(var(--white));
        font-size: 32px;
        line-height: 64px;
      }

      @media screen and (max-width: 600px) {
        top: 35%;
        left: 50%;
        width: 80vw;

        padding: 24px;
        background: rgb(0, 0, 0, 0.3);

        .title {
          font-size: 36px;
          line-height: 48px;
        }

        .subtitle {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;

      @media screen and (max-width: 600px) {
        width: 200%;
        margin-left: -100%;
      }
    }
  }

  .info {
    overflow: hidden;

    display: flex;
    position: relative;

    width: 100vw;
    height: 100vh;

    .intro {
      padding: 0 48px;

      width: 50vw;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 48px;
        line-height: 48px;
      }

      .text {
        font-size: 24px;
        line-height: 36px;
      }
    }

    .image {
      background: rgb(var(--green));

      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        display: none;
      }

      img {
        border-radius: 100%;
        align-self: center;
        width: 40vw;
        height: 40vw;
        object-fit: cover;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      height: fit-content;

      .intro {
        width: 100vw;

        padding: 24px;

        .title {
          display: none;
        }

        .text {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .image {
        padding: 24px;
        width: 100vw;

        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 24px;

        .title {
          display: block;
          font-size: 32px;
          line-height: 32px;
          align-self: center;
        }
      }
    }
  }

  .shop {
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    .block {
      position: relative;

      width: 48vw;
      height: 25vw;

      margin: 1vw;

      overflow: hidden;

      transition: all ease-in-out 350ms;

      .item-background {
        z-index: 1;
        position: absolute;
        top: calc(100% - 56px);
        left: 0;

        width: 100%;
        height: 100%;

        opacity: 0.8;

        transition: all ease-in-out 350ms;
      }

      .item {
        z-index: 2;
        position: absolute;
        top: calc(100% - 56px);
        left: 0;

        width: 100%;
        height: 100%;

        color: rgb(var(--white));

        padding: 12px 24px;

        transition: all ease-in-out 350ms;

        .title {
          font-size: 24px;
          line-height: 36px;
        }

        .description {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .image {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      @media screen and (max-width: 600px) {
        margin: 2vw;

        width: 96vw;
        height: 96vw;
      }
    }

    .block:hover {
      width: 49vw;
      height: 26vw;
      margin: 0.5vw;

      border-radius: 8px;

      .item-background {
        top: 0;
        opacity: 0.6;
      }

      .item {
        top: 0;
      }
    }

    @media screen and (max-width: 600px) {
      .block:hover {
        margin: 2vw;

        width: 96vw;
        height: 96vw;
      }
    }
  }
}
