<div class="container">
  <div class="header">
    <img src="assets/header.jpg" />

    <div class="box">
      <p class="title">Handmade by Cat</p>
      <p class="subtitle">This is some text</p>
    </div>
  </div>

  <div class="info">
    <div class="intro">
      <p class="title">Hi, I'm Cat</p>
      <p class="text">
        This will be replaced with a blurb about me and my stuff. This will be
        replaced with a blurb about me and my stuff. This will be replaced with
        a blurb about me and my stuff. This will be replaced with a blurb about
        me and my stuff. This will be replaced with a blurb about me and my
        stuff. This will be replaced with a blurb about me and my stuff. This
        will be replaced with a blurb about me and my stuff. This will be
        replaced with a blurb about me and my stuff.
      </p>
    </div>

    <div class="image">
      <p class="title">Hi, I'm Cat</p>

      <img src="assets/cat.jpg" />
    </div>
  </div>

  <p style="padding: 24px; font-size: 48px; line-height: 48px">Shop</p>

  <div class="shop">
    <div class="block">
      <div class="item-background" style="background: rgb(var(--purple))"></div>

      <div class="item">
        <p class="title">Item 1</p>
        <p class="description">
          This is the description of the item. This is the description of the
          item. This is the description of the item.
        </p>
      </div>

      <div class="image">
        <img src="assets/header.jpg" />
      </div>
    </div>

    <div class="block">
      <div class="item-background" style="background: rgb(var(--pink))"></div>

      <div class="item">
        <p class="title">Item 1</p>
        <p class="description">
          This is the description of the item. This is the description of the
          item. This is the description of the item.
        </p>
      </div>

      <div class="image">
        <img src="assets/header.jpg" />
      </div>
    </div>

    <div class="block">
      <div class="item-background" style="background: rgb(var(--red))"></div>

      <div class="item">
        <p class="title">Item 1</p>
        <p class="description">
          This is the description of the item. This is the description of the
          item. This is the description of the item.
        </p>
      </div>

      <div class="image">
        <img src="assets/header.jpg" />
      </div>
    </div>

    <div class="block">
      <div class="item-background" style="background: rgb(var(--blue))"></div>

      <div class="item">
        <p class="title">Item 1</p>
        <p class="description">
          This is the description of the item. This is the description of the
          item. This is the description of the item.
        </p>
      </div>

      <div class="image">
        <img src="assets/header.jpg" />
      </div>
    </div>
  </div>
</div>
